@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply
      duration-150
      focus-visible:outline
      focus-visible:outline-2
      focus-visible:outline-offset-2
      focus-visible:outline-ulysseInsideBlue
  }

  body {
    @apply
      bg-gray-50
      dark:bg-gray-900
  }
}
